<!-- about me -->

<section id="about-me" class="about-me section">
  <div class="container">
    <h2 class="section-title visually-hidden">About me</h2>
    <div class="about-me-descr-photo">
      <div class="main-descr-box">
        <p class="main-descr-text">
          I work with people all over the world to create impressive and
          <span class="text-red">functional</span>
          <span class="text-grey">websites</span> that reflect each client's
          unique personality.
        </p>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/about-me/portrait_desktop.png    1x,
              ./img/about-me/portrait_desktop@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/about-me/portrait_tablet.png    1x,
              ./img/about-me/portrait_tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/about-me/portrait_mobile.png    1x,
              ./img/about-me/portrait_mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="portrait-img"
            src="./img/about-me/portrait_desktop.png"
            alt="Portrait of developer"
          />
        </picture>
      </div>
    </div>
    <ul class="accordion-container">
      <li class="ac-item-information firsst-elem-ac">
        <h3 class="ac-header-information">
          <button type="button" class="ac-trigger">
            About me
            <svg class="show-btn-icon" aria-label="arrow down">
              <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <ul class="ac-panel">
          <li class="information-text-item-about-me">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </li>
          <li class="information-text-item">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </li>
        </ul>
      </li>
      <li class="ac-item-information">
        <h3 class="ac-header-information">
          <button type="button" class="ac-trigger">
            Role
            <svg class="show-btn-icon" aria-label="arrow-down">
              <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <ul class="ac-panel">
          <li class="information-text-item">Frontend development</li>
          <li class="information-text-item">HeadlessCMS,Wordpress</li>
          <li class="information-text-item">Blender(enjoy)</li>
        </ul>
      </li>
      <li class="ac-item-information">
        <h3 class="ac-header-information">
          <button type="button" class="ac-trigger">
            Education
            <svg class="show-btn-icon" aria-label="arrow-down">
              <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <ul class="ac-panel">
          <li class="information-text-item">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="information-text-item">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="information-text-item">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </li>
    </ul>
    <div class="flex-wrapper">
      <div class="swiper" id="swiperAbout">
        <ul class="swiper-wrapper-skills swiper-wrapper">
          <li class="swiper-slide">
            <p class="swiper-slide-text">HTML/CSS</p>
          </li>
          <li class="swiper-slide">
            <p class="swiper-slide-text">JavaScript</p>
          </li>
          <li class="swiper-slide">
            <p class="swiper-slide-text">React</p>
          </li>
          <li class="swiper-slide">
            <p class="swiper-slide-text">Node.js</p>
          </li>
          <li class="swiper-slide">
            <p class="swiper-slide-text">React Native</p>
          </li>
          <li class="swiper-slide">
            <p class="swiper-slide-text">Soft skills</p>
          </li>
          <li class="swiper-slide">
            <p class="swiper-slide-text">Angular</p>
          </li>
          <li class="swiper-slide">
            <p class="swiper-slide-text">Vue.js</p>
          </li>
        </ul>
      </div>
      <div class="about-me-btn-swipe">
        <svg class="swiper-arrow-right" aria-label="arrow right">
          <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
