<!-- COVERS SECTION -->
<section class="section " id="covers">
  <div class="covers-container">
    <div class="covers-section">
      <div class="marquee">
        <h2 class="visually-hidden">Covers</h2>
        <ul class="marquee-inner">
          <li class="marque-item">
            <img class="marquee-picture" srcset="./img/covers/rectangle-3@2x.jpg 2x" src="./img/covers/rectangle-3.jpg"
              loading="lazy" alt="fresh-box illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-1@2x.jpg 2x" src="./img/covers/rectangle-1.jpg"
              loading="lazy"  alt="online-business illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-4@2x.jpg 2x" src="./img/covers/rectangle-4.jpg"
              loading="lazy"  alt="make-up illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-2@2x.jpg 2x" src="./img/covers/rectangle-2.jpg"
              loading="lazy" alt="healthy illustration"/>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-4@2x.jpg 2x" src="./img/covers/rectangle-4.jpg"
              loading="lazy" alt="make-up illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-5@2x.jpg 2x" src="./img/covers/rectangle-5.jpg"
              loading="lazy" alt="mimino illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-6@2x.jpg 2x" src="./img/covers/rectangle-6.jpg"
              loading="lazy" alt="Ukrainian artistry"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-7@2x.jpg 2x" src="./img/covers/rectangle-7.jpg"
              loading="lazy" alt="vegetables illustration"/>
          </li>
      
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-9@2x.jpg 2x" src="./img/covers/rectangle-9.jpg"
              loading="lazy" alt="finance illustration"/>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-1@2x.jpg 2x" src="./img/covers/rectangle-1.jpg"
              loading="lazy" alt="online-business illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-4@2x.jpg 2x" src="./img/covers/rectangle-4.jpg"
              loading="lazy" alt="make-up illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-5@2x.jpg 2x" src="./img/covers/rectangle-5.jpg"
              loading="lazy" alt="mimino illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-8@2x.jpg 2x" src="./img/covers/rectangle-8.jpg"
              loading="lazy" alt="power pulse illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-10@2x.jpg 2x" src="./img/covers/rectangle-10.jpg"
              loading="lazy" alt="english school illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-2@2x.jpg 2x" src="./img/covers/rectangle-2.jpg"
               loading="lazy" alt="healthy illustration"/>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-6@2x.jpg 2x" src="./img/covers/rectangle-6.jpg" loading="lazy"
              alt="Ukrainian artistry" />
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-2@2x.jpg 2x" src="./img/covers/rectangle-2.jpg"
              loading="lazy" alt="healthy illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-9@2x.jpg 2x" src="./img/covers/rectangle-9.jpg"
              loading="lazy" alt="finance illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-3@2x.jpg 2x" src="./img/covers/rectangle-3.jpg"
              loading="lazy" alt="fresh-box illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-8@2x.jpg 2x" src="./img/covers/rectangle-8.jpg"
              loading="lazy" alt="power pulse illustration"/>
          </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-10@2x.jpg 2x" src="./img/covers/rectangle-10.jpg"
              loading="lazy" alt="english school illustration"/>
          </li>
        </ul>
        <ul class="marquee-inner">
                    <li class="marque-item">
                      <img class="marque-img" srcset="./img/covers/rectangle-8@2x.jpg 2x" src="./img/covers/rectangle-8.jpg" loading="lazy"
                        alt="power pulse illustration" />
                    </li>
                              <li class="marque-item">
                                <img class="marque-img" srcset="./img/covers/rectangle-6@2x.jpg 2x" src="./img/covers/rectangle-6.jpg" loading="lazy"
                                  alt="Ukrainian artistry" />
                              </li>
                    <li class="marque-item">
                      <img class="marque-img" srcset="./img/covers/rectangle-2@2x.jpg 2x" src="./img/covers/rectangle-2.jpg" loading="lazy"
                        alt="healthy illustration" />
                    </li>
          <li class="marque-item">
            <img class="marque-img" srcset="./img/covers/rectangle-7@2x.jpg 2x" src="./img/covers/rectangle-7.jpg"
              loading="lazy" alt="vegetables illustration"/>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>