<!-- <section>
  <link
    href="https://fonts.googleapis.com/css?family=Pridi:600"
    rel="stylesheet"
  />

  <div class="container content">
    <h2 class="hidden-heading">Прихований заголовок</h2>
    <div class="marquee">
      <div class="marquee__inner">
        <p class="marquee__line">Project 1</p>
        <p class="marquee__line">Project 2</p>
        <p class="marquee__line">Project 3</p>
        <p class="marquee__line">Project4</p>
        <p class="marquee__line">Project 5</p>
        <p class="marquee__line">Project 6</p>
        <p class="marquee__line">Project 7</p>
        <p class="marquee__line">Project 8</p>
      </div>
      <div class="marquee__inner">
        <p class="marquee__line">Project 1</p>
        <p class="marquee__line">Project 2</p>
        <p class="marquee__line">Project 3</p>
        <p class="marquee__line">Project 4</p>
        <p class="marquee__line">Project 5</p>
        <p class="marquee__line">Project 6</p>
        <p class="marquee__line">Project 7</p>
        <p class="marquee__line">Project 8</p>
      </div>
      <div class="marquee__inner">
        <p class="marquee__line">Project 1</p>
        <p class="marquee__line">Project 2</p>
        <p class="marquee__line">Project 3</p>
        <p class="marquee__line">Project 4</p>
        <p class="marquee__line">Project 5</p>
        <p class="marquee__line">Project 6</p>
        <p class="marquee__line">Project 7</p>
        <p class="marquee__line">Project 8</p>
      </div>
    </div>
  </div>
</section> -->
