<!-- section FAQ -->

<section id="faq" class="section">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item test1">
        <button type="button" class="faq-question test">
          <span class="faq-text">
            What programming languages ​​are most often used in your project?
          </span>
          <svg class="icon-Icon" aria-label="arrow down">
            <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>

        <div class="faq-answer">
          <p class="faq-answer-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-item test2">
        <button type="button" class="faq-question">
          <span class="faq-text">What are the deadlines for the project?</span>
          <svg class="icon-Icon" aria-label="arrow down">
            <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <p class="faq-answer-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-item test3">
        <button type="button" class="faq-question test">
          <span class="faq-text">What payment methods do you accept?</span>
          <svg class="icon-Icon" aria-label="arrow down">
            <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="faq-item test4">
        <button type="button" class="faq-question">
          <span class="faq-text">How can I contact you?</span>
          <svg class="icon-Icon" aria-label="arrow down">
            <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <p class="faq-answer-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-item test5">
        <button type="button" class="faq-question test">
          <span class="faq-text">Do you provide advice or support?</span>
          <svg class="icon-Icon" aria-label="arrow down">
            <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <p class="faq-answer-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-item test6">
        <button type="button" class="faq-question">
          <span class="faq-text faq-text-last">
            What does the process of developing a software product look like
            from idea to implementation?
          </span>
          <svg class="icon-Icon" aria-label="arrow down">
            <use href="./img/svg/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="faq-answer">
          <p class="faq-answer-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
