<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <img
        class="footer-image"
        srcset="./img/footer/footer_1x.jpg 1x, ./img/footer/footer_2x.jpg 2x"
        src="../img/footer/footer_1x.jpg"
        alt="Djefferson Photo"
      />
      <h2 class="footer-title">Let’s <span class="title-accent">work</span></h2>
      <h2 class="footer-title">together</h2>
    </div>
    <form class="footer-form">
      <input
        class="footer-form-input"
        id="user-email"
        type="email"
        name="e-mail"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        autocomplete="off"
      />
      <input
        class="footer-form-input"
        id="user-comment"
        type="text"
        name="comments"
        placeholder="comments"
        autocomplete="off"
      />
      <button
        class="footer-form-btn"
        id="form-btn"
        type="submit"
        aria-label="submit form"
      >
        Send
      </button>
    </form>
    <address class="footer-bottom">
      <ul class="contacts">
        <li class="contacts-item contacts-mail hover-animation">
          <a class="contacts-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="contacts-item contacts-phone hover-animation">
          <a class="contacts-link" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>

<!-- Modal -->

<div class="footer-backdrop">
  <div class="modal">
    <div class="modal-box">
      <button class="close-btn" type="button" aria-label="close modal">
        <svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            class="icon-close"
            d="M16.5 5.5L5.5 16.5"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            class="icon-close"
            d="M5.5 5.5L16.5 16.5"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <h3 class="modal-title"></h3>
      <p class="modal-message"></p>
    </div>
  </div>
</div>
