<!-- Header -->
<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a id="home" href="/" class="logo">
        <img
          src="../img/header/logo-x1.png"
          srcset="../img/header/logo.png 1x, ../img/header/logo-@x2.png 2x"
          alt="logo"
        />
        <span>jefferson*</span>
      </a>
    </nav>
    <div class="dropdown-menu">
      <button class="dropbtn">Menu</button>
      <ul id="dropdown" class="nav-links-container dropdown-content">
        <li class="nav-link-item">
          <a href="#about-me" class="nav-link">About me</a>
        </li>
        <li class="nav-link-item">
          <a href="#benefits" class="nav-link">Benefits</a>
        </li>
        <li class="nav-link-item">
          <a href="#projects" class="nav-link">Projects</a>
        </li>
        <li class="nav-link-item">
          <a href="#faq" class="nav-link">FAQ</a>
        </li>
      </ul>
    </div>
    <button class="hamburger-menu-open-button" data-menu-open>
      <svg class="icon" width="28" height="28">
        <use href="./img/svg/sprite.svg#icon-burger" />
      </svg>
    </button>
    <a href="#footer" class="header-order-button">Order the project</a>
  </div>
</header>

<!-- Mobile menu -->
<div class="mobile-menu is-hidden" data-menu>
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-button" data-menu-close>
      <svg class="icon" width="28" height="28" data-menu-close>
        <use href="../img/svg/sprite.svg#icon-close" data-menu-close />
      </svg>
    </button>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-nav-links-container">
        <li class="mobile-menu-nav-link-item">
          <a href="#about-me" data-menu-close>About me</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="#benefits" data-menu-close>Benefits</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="#projects" data-menu-close>Projects</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="#faq" data-menu-close>FAQ</a>
        </li>
      </ul>
    </nav>
    <a
      href="#footer"
      class="header-order-button mobile-menu-order-button"
      data-menu-close
    >
      Order the project
    </a>
  </div>
</div>
