<section id="hero">
  <div class="container hero-wrapper">
    <h1 class="hero-title">
      Hello.<br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="contacts-links-container">
      <li class="contact-link-item">
        <a href="https://instagram.com" class="contact-link" target="_blank">
          IG
        </a>
      </li>
      <li class="contact-link-item">
        <a href="https://facebook.com" class="contact-link" target="_blank">
          FB
        </a>
      </li>
      <li class="contact-link-item">
        <a href="https://youtube.com" class="contact-link" target="_blank">
          YT
        </a>
      </li>
      <li class="contact-link-item">
        <a href="https://github.com" class="contact-link" target="_blank">
          GH
        </a>
      </li>
      <li class="contact-link-item contact-email-link">
        <a href="mailto:lloydjefferson@gmail.com" class="contact-link">
          lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
