<!-- projects section -->
<section class="section">
<div class="container">
  <h2 lass="section-title">Projects</h2>
  <ul class="project-list">
    <li class="project-item">
      <div class="first-side">
        <ul class="tech-skills-list">
          <li class="tech-skills-item"><p class="tech-skills-desc">#react</p></li>
          <li class="tech-skills-item"><p class="tech-skills-desc">#js</p></li>
          <li class="tech-skills-item"><p class="tech-skills-desc">#node js</p></li>
          <li class="tech-skills-item"><p class="tech-skills-desc">#git</p></li>
        </ul>
        <h3 class="card-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
        <a class="project-link" href="https://github.com/mrBidone/team-js-project-portfolio">See project</a>
      </div>
      <div class="second-side">
        <img
              class="project-img"
              srcset="../img/project/project1min.png 1x"
              src="../img/project/project1min.png"
              alt="project illustration"

            />
      </div>
    </li>
    <li class="project-item">
      <div class="first-side">
        <ul class="tech-skills-list">
          <li class="tech-skills-item"><p class="tech-skills-desc">#react</p></li>
          <li class="tech-skills-item"><p class="tech-skills-desc">#js</p></li>
          <li class="tech-skills-item"><p class="tech-skills-desc">#node js</p></li>
          <li class="tech-skills-item"><p class="tech-skills-desc">#git</p></li>
        </ul>
        <h3 class="card-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>

        <a class="project-link" href="https://github.com/mrBidone/team-js-project-portfolio"> </a>
      </div>
      <div class="second-side">
        <img
              class="project-img project-img2"
              srcset="../img/project/project2min.png 1x"
              src="../img/project/project2min.png"
              alt="min-project1"

            />
      </div>
    </li>
    <li class="project-item">
      <div class="first-side">
        <ul class="tech-skills-list">
          <li class="tech-skills-item">
            <p class="tech-skills-desc">#react</p>
          </li>
          <li class="tech-skills-item">
            <p class="tech-skills-desc">#js</p>
          </li>
          <li class="tech-skills-item">
            <p class="tech-skills-desc">#node js</p>
          </li>
          <li class="tech-skills-item">
            <p class="tech-skills-desc">#git</p>
          </li>
        </ul>
        <h3 class="card-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
        <a class="project-link" href="https://github.com/mrBidone/team-js-project-portfolio">See project</a>
      </div>
      <div class="second-side">
        <img class="project-img"
              srcset="../img/project/project3min.png 1x"
              src="../img/project/project3min.png"
              alt="min-project1" />
      </div>
    </li>   
  </ul>
</div>
</section>





















