<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./css/projects.css" />
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>

   <section class="section project-section">
<div class="container">
      <h2 class="project-title">Projects</h2>

      <div class="swiper project-swiper" id="swiperProject">
  <div class="project-container">
    <ul class="project-list">
      <li class="project-item">#react</li>
      <li class="project-item">#js</li>
      <li class="project-item">#node js</li>
      <li class="project-item">#git</li>
    </ul>
    <h1 class="project-text">Programming Across Borders: Ideas, Technologies, Innovations</h1>
    <button class="project-button" href ="https://github.com/mrBidone/team-js-project-portfolio">See project</button>


  </div>
  <div class="right-half">

    <img class="project-img"  srcset=" ../img/project/project1min.png 1x" src="../img/project/project1min.png
    " alt="min-project1" width="311" height="195"></div>



 <div class=" swiper project-swiper" id="swiperProject">
    <ul class="project-list">
      <li class="project-item">#react</li>
      <li class="project-item">#js</li>
      <li class="project-item">#node js</li>
      <li class="project-item">#git</li>
    </ul>
    <h1 class="project-text">Programming Across Borders: Ideas, Technologies, Innovations</h1>
    <button class="project-button" href ="https://github.com/mrBidone/team-js-project-portfolio">See project</button>
    <div class="right-half">

      <img class="project-img"  srcset=" ../img/project/project2min.png 1x" src="../img/project/project2min.png
      " alt="min-project1" width="311" height="195"></div>
  </div>
  <div class=" swiper project-swiper" id="swiperProject">
    <ul class="project-list">
      <li class="project-item">#react</li>
      <li class="project-item">#js</li>
      <li class="project-item">#node js</li>
      <li class="project-item">#git</li>
    </ul>
    <h1 class="project-text">Programming Across Borders: Ideas, Technologies, Innovations</h1>
    <button class="project-button" href ="https://github.com/mrBidone/team-js-project-portfolio">See project</button>
    <div class="right-half">

      <img class="project-img"  srcset="../img/project/project3min.png 1x" src="../img/project/project3min.png
      " alt="min-project1" width="311" height="195"></div>
  </div>



</div>
<div class="swiper-btn">

  <div class="swiper-pagination"></div>

<div class="swiper-btn-prev">
   <svg class="icon icon-arrow">
    <use href="../img/svg/sprite.svg#icon-arrow-left"></use></svg>

    </div>

  <div class="swiper-btn-next">

    <svg class="icon icon-arrow">
      <use href="../img/svg/sprite.svg#icon-arrow-right"></use>
    </svg>
  </div>
    </div>
  </div>
</div>




  </section>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="module" src="../js/projects.js"></script>


</body>
</html>