<section class="section">
  <div class="container">
    <h2 class="review-title">REVIEWS</h2>
    <div class="reviews-container swiper mySwiper">
      <ul class="reviews-list swiper-wrapper" aria-live="polite"></ul>
      <div id="error-reviews-block">
        <p class="error-reviews-msg">NOT FOUND</p>
      </div>
      <div class="swiper-btn-container">
        <div class="swiper-btn-next custom-prev">
          <!-- custom-btn-disabled -->
          <svg class="reviews-icon hover-animation">
            <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-btn-next custom-next">
          <svg class="reviews-icon hover-animation">
            <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <button id="myBtn" aria-label="scroll to top">
    <svg class="svg-up">
      <use href="./img/svg/sprite.svg#icon-arrow-up"></use>
    </svg>
  </button>
</section>
