<section class="section reviews">
  <div class="container">
    <div class="reviews-container swiper mySwiper">
      <h2 class="review-title">REVIEWS</h2>
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="swiper-container">
        <div class="previous-btn custom-prev" id="previous-btn">
          <svg class="reviews-icon">
            <use href="../img/svg/sprite.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="next-btn custom-next" id="next-btn">
          <svg class="reviews-icon">
            <use href="../img/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
