<section class="section">
  <div class="container reviews-container swiper">
    <h2 class="review-title">Reviews</h2>
   
      <ul class="reviews-list swiper-wrapper">
      </ul>
    </div>
    <div class="swiper-container">
      <!-- <div class="previous-btn swiper-button-prev" id="previous-btn">
        <svg class="reviews-icon" >
          <use href="../img/svg/sprite.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="next-btn swiper-button-next" id="next-btn">
        <svg class="reviews-icon">
          <use href="../img/svg/sprite.svg#icon-arrow-right"></use>
        </svg>

      </div> -->

      <!-- div for errors -->
      <div class="err-container" style="display: none"></div>
    </div>
  </div>
</section>


