/* about me */

@media only screen and (min-width: 768px) {
  .section .about-me {
    padding-top: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .section .about-me {
    padding-top: 48px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
.about-me-descr-photo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  .about-me-descr-photo {
    flex-direction: row;
  }
}

.main-descr-text {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.text-red {
  color: var(--accent-color);
}

.text-grey {
  color: var(--transparent-text-color);
}

.main-descr-box {
  border-radius: 24px;
  background-color: var(--cards-bg-color);
  height: 500px;
  padding: 32px;
}

@media only screen and (min-width: 768px) {
  .main-descr-box {
    height: 700px;
    padding: 64px;
  }

  .main-descr-text {
    font-size: 38px;
    line-height: 1.05;
  }
}

@media only screen and (min-width: 1440px) {
  .main-descr-box {
    width: 680px;
  }
}

.about-me-descr-photo,
.accordion-container {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .about-me-descr-photo,
  .accordion-container {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-descr-photo,
  .accordion-container {
    margin-bottom: 96px;
  }
}

/* ---------------------------------- */
.ac-item-information {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: solid 1px var(--transparent-elements-color);
}

.ac-trigger {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  border: none;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--transparent-text-color);
  background-color: transparent;
  cursor: auto;
}

.show-btn-icon {
  border: 1px solid var(--transparent-elements-color);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
  fill: none;
  stroke: #fafafa;
  cursor: pointer;

  transition: transform 0.5s ease-in;
}

.information-text-item-about-me:not(:last-child) {
  margin-bottom: 32px;
}

.information-text-item:not(:last-child) {
  margin-bottom: 10px;
}

.ac-panel {
  line-height: 1.5;
  letter-spacing: -0.02em;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
}

.ac-item-information.is-active .ac-panel {
  visibility: visible;
}

.ac-item-information.open .ac-panel {
  display: block;
}

.ac-item-information.is-active .ac-panel {
  max-height: 720px;
}

.ac-trigger {
  margin-bottom: 12px;
}

.ac-item-information.is-active .show-btn-icon {
  transform: rotate(180deg);
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .information-text-item-about-me:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .show-btn-icon {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .ac-trigger {
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 1440px) {
  .ac-panel {
    padding-left: 696px;
  }
}

/* -------------------------------- */
.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#swiperAbout {
  max-width: 260px;
}

.flex-wrapper .swiper {
  margin-right: 0;
  margin-left: 0;
}

.swiper-wrapper-skills {
  display: flex;
  margin: 0;
}

.swiper-slide-text {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: -0.02em;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: solid 1px var(--transparent-elements-color);
  background-color: transparent;
}

.current-skill {
  background-color: #ed3b44;
  border: none;
  border-radius: 100%;
}

.about-me-btn-swipe {
  display: block;
}
.swiper-arrow-right {
  width: 28px;
  height: 28px;
  fill: none;
  stroke: var(--arrow-color);
}

@media only screen and (min-width: 768px) {
  #swiperAbout {
    max-width: 600px;
  }

  .swiper-slide-text {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }

  .swiper-arrow-right {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  #swiperAbout {
    max-width: 1200px;
  }

  .flex-wrapper .swiper {
    margin-left: 32px;
  }
}
