/* benefists */

.section-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--transparent-text-color);
  margin-bottom: 32px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
.benefits-item {
  border-radius: 20px;
  padding: 24px;
  max-width: 344px;
  background-color: var(--cards-bg-color);
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.benefits-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.benefits-text {
  font-size: 16px;
  color: var(--transparent-description-color);
}
.icon-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 10px;
  margin-bottom: 64px;
  width: 48px;
  height: 48px;
  stroke: var(--main-text-color);
}

.benefits-link {
  display: inline-block;
  border: 1px solid var(--transparent-elements-color);
  border-radius: 60px;
  padding: 18px 36px;
  letter-spacing: -0.02em;
  height: 55px;
  transition: background-color var(--default-duration) var(--timing-function);
}
.benefits-link:hover,
.benefits-link:focus {
  background-color: var(--accent-color);
}

@media only screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .benefits-wraper {
    display: flex;
    justify-content: space-between;
  }
  .section-title {
    margin: 0;
  }
  .benefits-card {
    width: 680px;
  }
  .benefits-item {
    width: 332px;
  }
}
