.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
}

.covers-container {
  max-width: 100%;
}

.covers-section {
  position: relative;
  overflow: hidden;
  background-image: url(/img/covers/elements_vectors.png);
  background-size: cover;
  height: 508px;
}

.marquee {
  position: absolute;
  top: -300px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.marquee-inner {
  display: flex;
  gap: 24px;
  transform: rotate(16deg);
}

.marque-item {
  display: block;
  flex-shrink: 0;
  width: 282px;
  height: 162px;
}

.marque-img {
  width: 282px;
  object-fit: cover;
  height: 100%;
}

.animation-marquee {
  animation-name: covers-anim;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.marquee-inner {
  animation-play-state: paused;
}

@keyframes covers-anim {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}

@media only screen and (min-width: 768px) {
  .covers-section {
    height: 960px;
  }
  .marquee {
    top: -500px;
    gap: 44px;
  }
  .marquee-inner {
    gap: 44px;
  }

  .marque-item {
    width: 544px;
    height: 314px;
  }
  .marque-img {
    width: 544px;
  }
}

@media only screen and (min-width: 1440px) {
  .marquee {
    top: -450px;
    gap: 64px;
  }

  .marquee-inner:nth-child(2) {
    padding-left: 496px;
  }
  .marquee-inner:nth-child(6) {
    padding-right: 700px;
  }
}
