/* body {
  margin: 0;
  background-image: url(/src/img/svg/cover/elements_vectors.png);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.hidden-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.content {
  position: relative;
}
.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
  font-family: 'Pridi', sans-serif;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  background-image: url(/src/img/svg/cover/Rectangle\ 1.png);
}

.marquee__inner {
  height: 314px;
  display: flex;
  transform: rotate(16deg);
  padding: 32px;
}

.marquee__line {
  background-image: url(/src/img/svg/cover/Rectangle\ 1.png);
  background-color: #ffdc00;
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 8);
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
} */
