/* -------section FAQ------------ */

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--transparent-text-color);
  border-bottom: 1px solid var(--transparent-elements-color);
  padding-bottom: 32px;
}
.faq-list {
  display: grid;
  grid-template-columns: 1fr;
}

.faq-item {
  border-bottom: 1px solid var(--transparent-elements-color);
  max-width: 343px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 0;
}

.faq-question {
  display: block;
  width: 100%;
  font-family: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  cursor: auto;
}

.faq-text {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  max-width: 289px;
}

.icon-Icon {
  border: 1px solid var(--transparent-elements-color);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  fill: none;
  stroke: #fafafa;
  transition: transform 0.5s ease-in;
  cursor: pointer;
}
.faq-item.is-active .icon-Icon {
  transform: rotate(180deg);
}

.faq-answer {
  visibility: hidden;
  overflow: hidden;
}

.faq-answer-text {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--transparent-description-color);
  margin-top: 16px;
}

.faq-item.is-active .faq-answer {
  visibility: visible;
}

.faq-item.open .faq-answer {
  display: block;
}

@media only screen and (min-width: 768px) {
  .faq-list .faq-item {
    max-width: 704px;
    padding-bottom: 24px;
    padding-top: 32px;
  }

  .faq-text {
    max-width: 574px;
  }

  .faq-text-last {
    max-width: 475px;
  }
}
@media only screen and (min-width: 1440px) {
  .faq-list .faq-item {
    max-width: 688px;
    padding-bottom: 26px;
  }

  .faq-list {
    grid-template-columns: 1fr 1fr;
  }

  .test1 {
    order: 0;
    border-right: 1px solid var(--transparent-elements-color);
    border-bottom: 1px solid var(--transparent-elements-color);
    padding-right: 32px;
  }
  .test4 {
    order: 1;
    padding-left: 32px;
  }
  .test2 {
    order: 2;
    border-right: 1px solid var(--transparent-elements-color);
    padding-right: 32px;
  }
  .test3 {
    order: 4;
    border-right: 1px solid var(--transparent-elements-color);
    padding-right: 32px;
  }
  .test5 {
    order: 3;
    padding-left: 32px;
  }
  .test6 {
    order: 5;
    padding-left: 32px;
  }
}
