.project-item {
  max-width: 343px;
  border-radius: 24px;
}
.first-side {
  background-color: var(--main-text-color);
  color: var(--dark-text-color);
  padding: 32px;
}
.tech-skills-list {
  display: flex;
  flex-wrap: wrap;
}
.tech-skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--transparent-elements-color);
  border-radius: 60px;
}

.tech-skills-desc {
  letter-spacing: -0.02em;
}

.card-title {
}
.project-link {
}
.second-side {
}
.project-img {
}
.project-img2 {
}
