.review-title {
  color: var(--transparent-text-color);
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 32px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 32px;
}

.reviews-item {
  width: 344px;
  padding: 32px;
}

.err-container,
.reviews-item {
  border-radius: 20px;
  border: 1px solid var(--transparent-elements-color);
}

@media screen and (min-width: 1440px) {
  .reviews-item {
    max-width: 332px;
    height: 302px;
  }
}
@media screen and (max-width: 1439px) {
  .reviews-container {
    max-width: 704px;
  }
}

@media screen and (max-width: 767px) {
  .reviews-icon {
    width: 52px;
  }
  .reviews-item {
    max-width: 344px;
  }
}

.reviews-container {
  max-width: 1376px;
}

.review-photo {
  margin-bottom: 32px;
}
.review-author {
  margin-bottom: 8px;
}

.reviews-icon {
  width: 52px;
  height: 52px;
  padding: 13px;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.swiper-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}
