.review-title {
  font-size: 16px;
  margin-bottom: 32px;
  color: var(--transparent-text-color);
  line-height: 1.5;
  font-weight: 600;
}

.reviews-list {
  margin-bottom: 32px;
}
.review-author {
  font-size: 20px;
  color: rgba(250, 250, 250);
  margin-bottom: 8px;
  line-height: 1.5;
  font-weight: 600;
}
.reviews-item {
  padding: 32px 24px;
  border-radius: 20px;
  border: 1px solid var(--transparent-elements-color);
  min-height: 302px;
}
.review-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-photo {
  margin-bottom: 32px;
  border-radius: 10px;
}
.reviews-icon {
  width: 52px;
  height: 52px;
  padding: 13px;
  stroke: rgba(250, 250, 250);
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.reviews-icon:hover {
  border-color: rgba(250, 250, 250);
}

.swiper-btn-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.custom-next.disabled,
.custom-prev.disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

#error-reviews-block {
  display: none;
  height: 302px;
  padding: 135px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid var(--transparent-elements-color);
  margin-bottom: 32px;
}

.error-reviews-msg {
  line-height: 1.5;
  font-weight: 600;
  font-size: 20px;
  color: var(--transparent-text-color);
}

@media only screen and (min-width: 768px) {
  .reviews-icon {
    width: 68px;
    height: 68px;
    padding: 18px;
  }
  .swiper-btn-container {
    gap: 20px;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 52px;
  height: 52px;
  border: none;
  outline: none;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 250ms var(--timing-function);
  padding: 0;
}
.svg-up {
  position: relative;
  stroke: rgba(250, 250, 250);
  width: 52px;
  height: 52px;
  padding: 13px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

#myBtn:hover {
  background-color: var(--accent-color-second);
  transform: scale(1.2);
}

@media only screen and (max-width: 370px) {
  .top-btn {
    display: none;
  }
}
